.DS_Store
PrettyExample.xcodeproj/xcuserdata/
PrettyExample.xcodeproj/project.xcworkspace/xcuserdata/
build/
PrettyExample.xcodeproj/*.mode1v3
PrettyExample.xcodeproj/*.pbxuser

PrettyStoryboardExample.xcodeproj/project.xcworkspace
PrettyStoryboardExample.xcodeproj/xcuserdata
